@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (-webkit-min-device-pixel-ratio : 2)
{ 
 [data-role="header"] {
      padding-bottom: 105px;
}

 [data-role=header] .header-title {
        font-size: 14px;
        text-overflow: ellipsis;
  width: 62%;
  margin-left: 80px;
       } 

       [data-role=header] #header-menu-icon {
      display: inline-block;
      position: absolute;
      width: 50px;
      left: 4px;
      top: 23px;
    }
       .backButton{
        width: 20px;
      padding: 5px;
      position: fixed;
      top: 25px;
      left: 50px;
       }

       #leftpanel {
    margin-top: 68px;
}
#searchbox{
   width: 110px;
}



}


@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ 
 [data-role="header"] {
      padding-bottom: 105px;
}

 [data-role=header] .header-title {
        font-size: 14px;
          
       } 

       [data-role=header] #header-menu-icon {
      display: inline-block;
      position: absolute;
      width: 50px;
      left: 4px;
      top: 23px;
    }
       .backButton{
        width: 20px;
      padding: 5px;
      position: fixed;
      top: 25px;
      left: 50px;
       }

       #leftpanel {
    margin-top: 68px;
}
#searchbox{
   width: 110px;
}
}