html, body
{
    height: 100%;
}
body{ margin:0px; padding: 0px;  }

/*-----------------------header----------------------------*/
  #navigationContainer a{
     color: #000;
     text-decoration-color: #000;
    }
 
 #navigationContainer:last-child{
    	 margin-bottom:71px;
	}
    
    a {
        z-index: 0;
    }
 /*div{
    border: solid 1px black;
 }*/
  
 
#headerImg span{ 
    font-family: UniversCom-67BoldCond; color:#fff; font-size:20px; 
    float:left; position:fixed; top:0px; left:0px;
    margin:10px auto; 
    padding:13px 25px 25px; 
    background-color:#80ba26; 
    height:7px; 
     
    z-index: 3;
    
    }
    
    #headerImg2 span{ 
    font-family: UniversCom-67BoldCond; color:#fff; font-size:20px; 
    float:left; position:fixed; top:0px; left:0px;
    margin:10px auto; 
    padding:13px 25px 25px; 
    background-color:#80ba26; 
    height:7px; 
     
    z-index: 3;
    }
    .standort{
        font-family: UniversCom-67BoldCond; color:#fff; font-size:20px; 
    float:left;  
    margin:25px auto 0px auto; 
    padding:13px 25px 25px; 
    background-color:#80ba26; 
    height:7px; 
    
    }
hr { width:100%; height: 8px; background-color: #80ba26;
    border: 0px ;
    position:fixed; top:0px; left:0px; z-index: 3;
    margin: 163px 0 0 0; padding: 0; }
.clearfix{clear:both;}
#pagebgfull{
    background-color: #e7f0d6;
}
#pagebg{
    background-color: #e7f0d6;
      padding: 2% 0 0 0;
   width: 98%;
}
/*---------------------------------end of header--------------------------*/


/*----------------------------------- body styling-----------------------------------------*/
#page-body{
    
    width:99.5%; 
      
    margin:185px 10px 0px 0px; 
    padding:0px;
    color: black;
  
    }

/* typography */

.uc{
    font-family:'UniversLTW02-57Condensed',san-serif;
 }
.ucb{
    font-family: 'UniversLTW02-67BoldCn',san-serif;
 }
/*font color */
 
/*font-size */
 
/* circle  */

.bgCircle {
          position: relative;
          display: inline-block;
          width:62px;
          height:0; 
          -moz-border-radius: 62px;
          padding-bottom: 62px;
          -webkit-border-radius: 62px;
          border-radius: 62px;
          background: #80bb27;
          color: white;
          font-family: Helvetica, Arial Black, sans;
          text-align: center;
         margin:0;
          z-index: 0;
          
                    
        }
        .circleContainer{
            width: 70px;float: left; z-index: 0;
          
        }
        .navText{
            float: left;
            margin: 0px 0 0 5px;
             font-size: 18px;
           
             padding: 20px 0 20px 0;
        }
        .nav2line{
              margin: 0px 0 0 5px;
              padding: 10px 0 10px 0;
        }
.iconSize {
    position: absolute;
    width: 100%;
    left: 0;
   
    line-height: 1em;
    height: 40px;
    overflow: hidden;
    font-size: 40px;
    color:#fff;
    font-family: icons;
   
    z-index: 0;
   
}
.iconSize2 {
    position: absolute;
    width: 100%;
    left: 0;
   
    line-height: 1em;
    height: 40px;
    overflow: hidden;
    font-size: 40px;
    color:#fff;
    font-family: icons2; 
    z-index: 0;
   
}
.iconSize4 {
    position: absolute;
    width: 100%;
    left: 0;
   
    line-height: 1em;
    height: 40px;
    overflow: hidden;
    font-size: 40px;
    color:#fff;
    font-family: icons4; 
    z-index: 0;
   
}
.iconSize5 {
    position: absolute;
    width: 100%;
    left: 0;
   
    line-height: 1em;
    height: 40px;
    overflow: hidden;
    font-size: 40px;
    color:#fff;
    font-family: icons5; 
    z-index: 0;
   
}

.iconSize6 {
    position: absolute;
    width: 100%;
    left: 0;
   
    line-height: 1em;
    height: 40px;
    overflow: hidden;
    font-size: 40px;
    color:#fff;
    font-family: icons6; 
    z-index: 0;
   
}

.iconList{
 
      margin-bottom:31px;  z-index: 0;  
}
.brder{
    border: solid black 1px;
}
.brderr{
    border: solid red 1px;
}


#idC{
    font-size:52px;
       margin:5px 0 0;  
    
}
#idc{
    font-size:38px;
       margin:10px 0 0;  
    
}
#idh{
    font-size:42px;
       margin:10px 0 0;
       left: -1px;    
}
#idH{
    font-size:30px;
       margin:14px 0 0;
       left: -1px;    
}
#idy{
    font-size:40px;
       margin:11px 0 0;
    
}
#idJ{
     font-size:35px;
     margin:11px 0 0;
}
#idj{
     font-size:35px;
     margin:14px 0 0;
}
#idz{
     font-size:35px;
     margin:15px 0 0 2px;
}
#idF{
     font-size:32px;
     margin:15px 0 0 0;
}
#idf{
      font-size:42px;
     margin:10px 0 0 0;
}
#ida{
     font-size:30px;
     margin:16px 0 0 0;
}
#idA{
     font-size:42px;
     margin:11px 0 0 0;
 
}
#idm{
     font-size:40px;
     margin:11px 0 0 0;
}
#idE{
  font-size:50px;  
   margin:6px 0 0 0;
    z-index: 0;
}
#ide{
  font-size:45px;  
   margin:9px 0 0 0;
    z-index: 0;
}
#idq{
   font-size:60px;  
   margin:4px 0 0 0;
}
#idw{
     font-size:28px;
     margin:16px 0 0 0;
}
#idN{
     font-size:43px;
      margin:10px 0 0 -1px;
}
#idn{
     font-size:35px;
      margin:14px 0 0 0;
}
#idL{
    font-size:42px;
     margin:11px 0 0 -2px;
}
#idl{
     font-size:35px;
      margin:13px 0 0 0;
}

#idK{
     font-size:30px;
      margin:16px 0 0 0;
       
}
#idk{
     font-size:40px;
      margin:11px 0 0 0;
       
}
#ide{
     margin:11px 0 0 1px;
}
#idI{
     margin:8px 0 0 1px;
}
#idi{
    font-size:28px;
      margin:14px 0 0 0;
       
}
#idD{
    font-size:30px;
      margin:16px 0 0 0;
}
#idP{
    font-size:50px;
     margin:7px 0 0 -1px;
   
     
}
#idp{
     font-size:44px;
     margin:8px 0 0 0;
 
     
}
#idt{
     font-size:36px;
     margin:16px 0 0 0;
}
#ido{
     margin:11px 0 0 -1px;
}
#idv{
     font-size:45px;
     margin:10px 0 0 0;
     
}

#idB{
     font-size:32px;
     margin:15px 0 0 0;
}
#idG{
     font-size:34px;
     margin:15px 0 0 0;
}
#idg{
     font-size:40px;
     margin:15px 0 0 -2px;
}#idu{
     font-size:30px;
     margin:15px 0 0 0;
}#ids{
     font-size:42px;
     margin:10px 0 0 0;
}
#idx{
     font-size:36px;
     margin:14px 0 0 1px;
}

#idc2{
     font-size:47px;
     margin:10px 0 0 0.5px;

}
#ida2{
     font-size:62px;
     margin:4px 0 0 2px;
}
#idb2{
     font-size:28px;
     margin:19px 0 0 0;
}
#idd2{
     font-size:30px;
     margin:16px 0 0 0;
}
#ide2{
     font-size:32px;
     margin:18px 0 0 -1px;
}
#ida4{
     font-size:62px;
     margin:5px 0 0 0px;
}
#idi5{
    font-size:42px;
      margin:12px 0 0 0;
       
}
#idc5{
    font-size:42px;
      margin:12px 0 0 0;
       
}
#idb5{
    font-size:42px;
    margin:12px 0 0 0;
       
}
#idd5{
     font-size:42px;
      margin:12px 0 0 0;
   
}
#ide5{
     font-size:32px;
      margin:17px 0 0 0;
   
}
#idf5{
    font-size:42px;
      margin:11px 0 0 -3px;
}

/*--------------------  */
#idd6{
    font-size:32px;
      margin:15px 0 0 0;
}
#ide6{
    font-size:32px;
      margin:15px 0 0 0;
}
#idc6{
    font-size:32px;
      margin:15px 0 0 0;
}


#idf6{
    font-size:36px;
      margin:13px 0 0 0;
}

#idb6{
    font-size:32px;
      margin:15px 0 0 0;
}
#idi6{
    font-size:32px;
      margin:10px 0 0 0px;
      padding-top: 5px;
      padding-bottom: 3px;
      
}
#idg6{
    font-size:32px;
      padding-top: 5px;
      margin:10px 0 0 0;
}
#idh6{
    font-size:55px;
      padding-bottom: 10px;
      margin:4px 0 0 -2px;
}

#ida6{
    font-size:32px;
      padding-top: 5px;
      margin:8px 0 0 0;
}
/*----------------------------end of body styling-------------------------*/

/*------------------------------------------1 css---------------------------------*/
#page-body font{ 
    font-family: circle; font-size:2400%; color:#80ba26;
    margin:0px 0px 0px 40px;
    position:relative;
    top:0px;
    left:0px;
    z-index: 1; 
    
    }

#sched-info{
    margin:0px 0px;
    padding:0px;
    width:auto;
    height:auto;
    position:absolute;
    top:370px;
    left:0px;
    z-index: 2; 
}
#today{
    margin:5px 50px 0 166px;
    width:auto;
    float:left;
}
#deviation{
    margin:3px 0 0 80px;
     width:700px;
    float:left;
}
#date{
    width:auto;
    margin:-100px 0 0 140px;
} 

 /*--------------------------------end of 1 css-------------------*/

/*----------------------2 css-------------------------------*/
#information{
    margin:20px 0 0px 25px;
    padding:0px;
   font-size: 18px;
}
 


#navi{
    margin:0px 0px 0px 0px;
    padding:0px;
    height:80px;
    width:99%;
}
 
#navigation-list{
    width: 450px;
    margin:20px 0 0;
    float:left;
   
}
#furtwangen , #page-body{
 background-color: #e7f0d6;	
}

.staffImg{
    width: 80px;
}
.staffImg2{
    width: 200px;
    margin: 0 auto 5px auto;
}
.staff_name{
       font-size: 18px;
     margin: 0 auto;
      width: 200px;
      text-align: center;
}
.staff_po{
       font-size: 18px;
     margin: 0 auto;
      width: 200px;
       text-align: center;
}
.staff_no{ 
    color:#008D58;
       font-size: 18px;
      margin: 20px auto 0 auto;
      width: 300px;
}
.staff_email{
    color:#008D58;
       font-size: 18px;
      margin: 10px auto 30px auto;
      width: 300px;
}
 #staffContainer{
    margin-top: 20px;
 }
  
/*---------------------------------navigation styling--------------------------*/

 
#navigation{
    float:left;
    margin:0px;
    padding:0px;
    height:auto;
    width:600px;
}
 
 
 .virtualtour{
     width:317px;
     height: 600px;
 }
 
 